{% trans_default_domain 'FOSUserBundle' %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% block stylesheet %}
    <link href="{{ asset('css/bebasneue.css') }}" rel="stylesheet">
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
{% endblock %}
{# Fondo #}
<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="page">
    <div class="container">
        <div class="left">
            <div><img src="{{ asset('images/vflogo.png') }}"></div>
            {# <div class="eula">
                <a href="{{ path("cusLogin") }}">
                    Sos cliente de una empresa y queres ver tus deudas? Hacé click acá</a>
            </div> #}
        </div>

        <div class="right">
            <form action="{{ path("fos_user_security_check") }}" method="post" class="caja">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                <h2>ingresar</h2>
                <input class="textbox" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Usuario"/>

                <input autocomplete="current-password" class="textbox" id="password" name="_password" placeholder="Contraseña" required="required" type="password"/>

                <input class="switch_1" id="remember_me" name="_remember_me" type="checkbox" value="on"/>
                <label for="remember_me">Recuérdame</label>

                <input class="button" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
