@font-face {
    font-family: 'BebasNeue';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/BebasNeue-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'BebasNeue';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/BebasNeue-Light.otf') format('opentype');
}

@font-face {
    font-family: 'BebasNeue';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/BebasNeue-Book.otf') format('opentype');
}

@font-face {
    font-family: 'BebasNeue';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/BebasNeue-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'BebasNeue';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/BebasNeue-Bold.otf') format('opentype');
}