
        body {
            margin: 0;
            width: 100%;
            height: 100vh;
            color: #fff;
            background: linear-gradient(-45deg, #00b09b, #96c93d);
            background-size: 400% 400%;
            animation: gradientBG 15s ease infinite;
        }


        @keyframes gradientBG {
            0% {
                background-position: 0 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0 50%;
            }
        }
        a,
        a:hover {
            text-decoration: none;
            color: #ddd;
        }

        .circles {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .circles li {
            position: absolute;
            display: block;
            list-style: none;
            width: 20px;
            height: 20px;
            background: rgba(255, 255, 255, 0.2);
            animation: animate 25s linear infinite;
            bottom: -150px;

        }

        .circles li:nth-child(1) {
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
        }


        .circles li:nth-child(2) {
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 12s;
        }

        .circles li:nth-child(3) {
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
        }

        .circles li:nth-child(4) {
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 0s;
            animation-duration: 18s;
        }

        .circles li:nth-child(5) {
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
        }

        .circles li:nth-child(6) {
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
        }

        .circles li:nth-child(7) {
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
        }

        .circles li:nth-child(8) {
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 15s;
            animation-duration: 45s;
        }

        .circles li:nth-child(9) {
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 35s;
        }

        .circles li:nth-child(10) {
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
        }


        @keyframes animate {

            0% {
                transform: translateY(0) rotate(0deg);
                opacity: 1;
                border-radius: 0;
            }

            100% {
                transform: translateY(-1000px) rotate(720deg);
                opacity: 0;
                border-radius: 50%;
            }

        }

        img {
            position: static;
            padding: 20px;
            left: 25px;
            width: 7cm;
        }

        h2 {
            font-family: 'BebasNeue', sans-serif;
            font-weight: 700;
            padding: 5px;
            float: left;
            font-size: 50px;
            border-bottom: 4px solid #96c93d;
            margin: 10px;
            color: black;
            position: 50%;
        }

        .textbox {
            width: 92.5%;
            overflow: hidden;
            font-size: 20px;
            padding: 8px 0;
            margin: 8px;
            outline: none;
            background: none;
            color: black;
        }

     i {
            color: black;
            text-align: center;
            width: 50px;
        }
    
        select{
            width: 92.5%;
            overflow: hidden;
            font-size: 20px;
            padding: 8px 0;
            margin: 8px;
            outline: none;
            background: transparent;
            border-image: none;
            border: 0;
            border-color: transparent;
            outline-color: transparent;
            color: rgba(0, 0, 0, 0.4);
            font-family: "BebasNeue";
        }
        option{
            color:#191919;
        }

     input {
            border: none;
            outline: none;
            background: none;
            color: black;
        }

        .button {
            font-family: "BebasNeue";
            font-size: 23px;
            width: 92.5%;
            position: center;
            background: none;
            padding: 5px;
            cursor: pointer;
            margin: 12px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            border-radius: 4px;
        }

        .button:hover {
            background-color: #96c93d;
            color: white;
        }

     label {
            outline: none;
            background: none;
            color: rgba(0, 0, 0, 0.9);
            margin: 5px;
            font-family: "BebasNeue";
            font-size: 20px;
        }
        
.page {
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);
  }
  @media (max-width: 767px) {
    .page {
      height: auto;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
  .container {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
  }
  @media (max-width: 767px) {
    .container {
      flex-direction: column;
      height: 630px;
      width: 320px;
    }
  }
  .left {
    background: rgba(255,255,255,0.2);
    height: 100%;
    position: relative;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  @media (max-width: 767px) {
    .left {
      height: 100%;
      left: 20px;
      width: calc(100% - 40px);
      max-height: 270px;
    }
  }
  .login {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
  }
  .right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    /* box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22); */
    color: #F1F1F2;
    position: relative;
    width: 50%;
  }

  ::placeholder{
    color:rgba(0, 0, 0, 0.4);
    font-family: "BebasNeue";
  }

  @media (max-width: 767px) {
    .right {
      flex-shrink: 0;
      height: 100%;
      width: 100%;
      max-height: 350px;
    }
  }