<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="" name="description">
        <meta content="" name="author">
        <title>VepFácil</title>

        <link href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/bower_components/toast-master/css/jquery.toast.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/bower_components/morrisjs/morris.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/bower_components/chartist-js/dist/chartist.min.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/bower_components/calendar/dist/fullcalendar.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('css/colors/default.css') }}" id="theme" rel="stylesheet">
        <link href="{{ asset('css/sweetalert.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('plugins/bower_components/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/style.min.css')}}" rel="stylesheet">
        <link rel="icon" href="{{ asset('images/vf.ico')}}"> {% block css %}{% endblock %}
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


        <script language="JavaScript" type="text/javascript">
            function popitup(url) {
                newwindow = window.open(url, 'name', 'top=100,left=400,width=600,height=500,scrollbars=NO');
                if (window.focus) {
                    newwindow.focus()
                }
                return false;
            }
        </script>
    </head>

    <body class="fix-header">
        {% if is_granted('ROLE_USER') %}
            <div class="preloader">
                <svg class="circular" viewbox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" fill="none" r="20" stroke-miterlimit="10" stroke-width="2"/>
                </svg>
            </div>
            <div id="wrapper">
                <nav class="navbar navbar-default navbar-static-top m-b-0">
                    <div class="navbar-header">
                        <div class="top-left-part">
                            <a class="logo" href="{{ path("home") }}">
                                <b>
                                    <img src="{{ asset('images/vf.png') }}" alt="" class="light-logo" style="Padding-right:10px;Padding-top:5px;"/>
                                </b>
                                <span class="hidden-xs">
                                    <img src="{{ asset('images/vepfacil.png') }}" alt="" class="light-logo"/>
                                </span>
                            </a>
                        </div>
                        <ul class="nav navbar-top-links navbar-left">
                            <li>
                                <a class="open-close waves-effect waves-light" href="javascript:void(0)">
                                    <i class="ti-menu"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-top-links navbar-right pull-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                                    <b class="hidden-xs">{{ app.user.username }}</b>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-user animated flipInY">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img">
                                                <img src="{{ asset('images/img-perfil.png') }}" alt="" class="light-logo"/>
                                            </div>
                                            <div class="u-text">
                                                <h4>{{ app.user.username }}</h4>
                                                <p class="text-muted">{{ app.user.email }}</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <li class="divider" role="separator"></li>
                                        <li>
                                            <a href="{{ path('useradmin') }}">
                                                <i class="fa fa-user-edit"></i>
                                                Administrar Usuarios
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li class="divider" role="separator"></li>
                                        <li>
                                            <a href="{{ path('NewUser') }}">
                                                <i class="fa fa-user-plus"></i>
                                                Añadir usuario
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li class="divider" role="separator"></li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            <i class="fa fa-power-off"></i>
                                            Cerrar sesión</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="navbar-default sidebar" role="navigation">
                        <div class="sidebar-nav slimscrollsidebar">
                            <div class="sidebar-head">
                                <h3>
                                    <span class="fa-fw open-close">
                                        <i class="ti-close ti-menu"></i>
                                    </span>
                                    <span class="hide-menu">Navigation</span>
                                </h3>
                            </div>
                            <div class="user-profile"></div>
                            <ul class="nav" id="side-menu">
                                <li class="active">
                                    <a class="waves-effect" href="javascript:void(0);">
                                        <i class="mdi mdi-dots-vertical fa-fw" data-icon="v"></i>
                                        <span class="hide-menu">
                                            Menús
                                            <span class="fa arrow"></span>
                                        </span>
                                    </a>
                                    <ul
                                        class="nav nav-second-level">
                                        <!--<li> <a href="{{ path('debts') }}"><i class="fa-fw">DD</i><span class="hide-menu">Deudas</span></a> </li>-->
										<li>
                                            <a href="{{ path('misveps')}}">
                                                <i class="fa-fw">MV</i>
                                                <span class="hide-menu">Mis Veps</span>
                                            </a>
                                        </li>
										<li>
                                            <a href="{{ path('nuevovep') }}">
                                                <i class="fa-fw">NV</i>
                                                <span class="hide-menu">Nuevo VepFácil</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="{{ path('reporteador')}}">
                                                <i class="fa-fw">R</i>
                                                <span class="hide-menu">Reporteador</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav" id="side-menu">
                                <li class="active">
                                    <a class="waves-effect" href="javascript:void(0);">
                                        <i class="mdi mdi-upload fa-fw" data-icon="v"></i>
                                        <span class="hide-menu">
                                            Subida XLS
                                            <span class="fa arrow"></span>
                                        </span>
                                    </a>
                                    <ul class="nav nav-second-level">
                                        <li>
                                            <a href="{{ path('upload-client') }}">
                                                <i class="fa-fw">C</i>
                                                <span class="hide-menu">Clientes</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('upload-debt') }}">
                                                <i class="fa-fw">D</i>
                                                <span class="hide-menu">Deudas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('upload-debtxclient') }}">
                                                <i class="fa-fw">GC
                                                </i>
                                                <span class="hide-menu">Generador de cartas</span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="navbar-default sidebar" role="navigation">
                        <div class="sidebar-nav slimscrollsidebar">
                            <div class="sidebar-head">
                                <h3>
                                    <span class="fa-fw open-close">
                                        <i class="ti-close ti-menu"></i>
                                    </span>
                                    <span class="hide-menu">Navigation</span>
                                </h3>
                            </div>
                            <div class="user-profile"></div>
                            <ul class="nav" id="side-menu">
                                <li class="active">
                                    <a class="waves-effect" href="javascript:void(0);">
                                        <i class="mdi mdi-dots-vertical fa-fw" data-icon="v"></i>
                                        <span class="hide-menu">
                                            Menús
                                            <span class="fa arrow"></span>
                                        </span>
                                    </a>
                                    <ul
                                        class="nav nav-second-level">
                                        <!--<li> <a href="{{ path('debts') }}"><i class="fa-fw">DD</i><span class="hide-menu">Deudas</span></a> </li>-->
                                        <li>
                                            <a href="{{ path('nuevovep') }}">
                                                <i class="fa-fw">NV</i>
                                                <span class="hide-menu">Nuevo VepFácil</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('misveps')}}">
                                                <i class="fa-fw">VP</i>
                                                <span class="hide-menu">Mis Veps</span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <div id="page-wrapper">
                    <div class="container-fluid" style="padding-top: 30px !important;">

                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}

                        {% block content %}{% endblock %}
                        <!-- ============================================================== -->
                        <!-- start right sidebar -->
                        <!-- ============================================================== -->
                            <div class="right-sidebar"> <div class="slimscrollright">
                                <div class="rpanel-title">
                                    Service Panel
                                    <span>
                                        <i class="ti-close right-side-toggle"></i>
                                    </span>
                                </div>
                                <div class="r-panel-body">
                                    <ul class="m-t-20" id="themecolors">
                                        <li>
                                            <b>With Light sidebar</b>
                                        </li>
                                        <li>
                                            <a class="default-theme" data-theme="default" href="javascript:void(0)">1</a>
                                        </li>
                                        <li>
                                            <a class="green-theme" data-theme="green" href="javascript:void(0)">2</a>
                                        </li>
                                        <li>
                                            <a class="yellow-theme" data-theme="gray" href="javascript:void(0)">3</a>
                                        </li>
                                        <li>
                                            <a class="blue-theme" data-theme="blue" href="javascript:void(0)">4</a>
                                        </li>
                                        <li>
                                            <a class="purple-theme" data-theme="purple" href="javascript:void(0)">5</a>
                                        </li>
                                        <li>
                                            <a class="megna-theme" data-theme="megna" href="javascript:void(0)">6</a>
                                        </li>
                                        <li class="full-width">
                                            <b>With Dark sidebar</b>
                                        </li>
                                        <li>
                                            <a class="default-dark-theme" data-theme="default-dark" href="javascript:void(0)">7</a>
                                        </li>
                                        <li>
                                            <a class="green-dark-theme" data-theme="green-dark" href="javascript:void(0)">8</a>
                                        </li>
                                        <li>
                                            <a class="yellow-dark-theme" data-theme="gray-dark" href="javascript:void(0)">9</a>
                                        </li>
                                        <li>
                                            <a class="blue-dark-theme" data-theme="blue-dark" href="javascript:void(0)">10</a>
                                        </li>
                                        <li>
                                            <a class="purple-dark-theme" data-theme="purple-dark" href="javascript:void(0)">11</a>
                                        </li>
                                        <li>
                                            <a class="megna-dark-theme working" data-theme="megna-dark" href="javascript:void(0)">12</a>
                                        </li>
                                    </ul>
                                    <ul class="m-t-20 chatonline">
                                        <li>
                                            <b>Chat option</b>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="../plugins/images/users/varun.jpg">
                                                <span>Varun Dhavan
                                                    <small class="text-success">online</small>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="../plugins/images/users/genu.jpg">
                                                <span>Genelia Deshmukh
                                                    <small class="text-warning">Away</small>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="../plugins/images/users/ritesh.jpg">
                                                <span>Ritesh Deshmukh
                                                    <small class="text-danger">Busy</small>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="../plugins/images/users/arijit.jpg">
                                                <span>Arijit Sinh
                                                    <small class="text-muted">Offline</small>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="../plugins/images/users/govinda.jpg">
                                                <span>Govinda Star
                                                    <small class="text-success">online</small>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="../plugins/images/users/hritik.jpg">
                                                <span>John Abraham<small class="text-success">online</small>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="../plugins/images/users/john.jpg">
                                                <span>Hritik Roshan<small class="text-success">online</small>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><img alt="user-img" class="img-circle" src="../plugins/images/users/pawandeep.jpg">
                                                <span>Pwandeep rajan
                                                    <small class="text-success">online</small>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                    <!-- end right sidebar -->
                        <!-- ============================================================== -->
                    </div>
                </div>
            </div>


            <script src="{{ asset('plugins/bower_components/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js') }}"></script>
            <script src="{{ asset('js/jquery.slimscroll.js') }}"></script>
            <script src="{{ asset('js/waves.js') }}"></script>
            <script src="{{ asset('plugins/bower_components/waypoints/lib/jquery.waypoints.js') }}"></script>
            <script src="{{ asset('plugins/bower_components/counterup/jquery.counterup.min.js') }}"></script>
            <script src="{{ asset('plugins/bower_components/chartist-js/dist/chartist.min.js') }}"></script>
            <script src="{{ asset('plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js') }}"></script>
            <script src="{{ asset('plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js') }}"></script>
            <script src="{{ asset('js/custom.min.js') }}"></script>
            <script src="{{ asset('plugins/bower_components/styleswitcher/jQuery.style.switcher.js') }}"></script>
            <script src="{{ asset('plugins/bower_components/sweetalert/sweetalert.min.js')}}"></script>
            <script src="{{ asset('plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js')}}"></script>
            <script src="{{ asset('plugins/bower_components/datatables/jquery.dataTables.min.js')}}"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
            <script></script>
        </script>
        {% block js %}{% endblock %}

    {% else %}
        <li>
            <a href="{{ path('fos_user_security_login') }}">Login</a>
        </li>
    {% endif %}
</html></body></html>
