{% block stylesheet %}
    <link href="{{ asset('css/bebasneue.css') }}" rel="stylesheet">
    <link href="{{ asset('css/customer.css') }}" rel="stylesheet">
{% endblock %}
<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="page">
    <div class="container">
        <div class="left">
            <img src="{{ asset('images/vflogo.png') }}">
        </div>
        <div class="right">
            <h2>Buscar mis veps</h2>
            <select id="1">
                <option selected disabled>Seleccione una companía</option>
                <option value="1">Metrogas</option>
                <option value="2">Sec</option>
                <option value="3">Natura</option>
                <option value="4">Avon</option>
            </select>
            <input autocomplete="current-password" class="textbox" id="password" name="_password" placeholder="Numero de contrato" required="required" type="text"/>
            <input class="button" type="submit" id="_submit" name="_submit" value="Buscar mis deudas"/>
        </form>
    </div>
</div></div><script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
