{% block stylesheets %}
{% endblock %}

{% block body %}
    <table class="display text-center" id="tabledit" style="width:100%">
        <thead>
            <tr>
                {% for arrCol2 in arrCol2 %}
                    <th class="text-center">
                        {{arrCol2}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for arr2 in arr2 %}
                <tr>
                    <td>{{ arr2.id }}</td>
                    <td>{{ arr2.customer_reference }}</td>
                    <td>{{ arr2.reference_number }}</td>
                    <td>$ {{ arr2.amount }}</td>
                    <td>{{ arr2.expiration|date("d/m/Y") }}</td>
                    <td>{{ arr2.observations }}</td>
                    <td>{{ arr2.code_pe }}</td>
                    <td>
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-warning" data-toggle="modal" data-target="#dataUpdate" data-id="{{ arr2.id }}" data-customer_reference="{{ arr2.customer_reference }}" data-reference_number="{{ arr2.reference_number }}" data-amount="{{ arr2.amount }}" data-expiration="{{ arr2.expiration|date("d/m/Y") }}" data-observations="{{ arr2.observations }}" data-code_pe="{{ arr2.code_pe }}">
                            <i class="icon-pencil"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
           $('#tabledit').DataTable({
                responsive: true, 
                searching: true,
                scrollX: true,
                language: {
                    sProcessing: 'Procesando...',
                    sLengthMenu: 'Mostrar _MENU_ registros',
                    sZeroRecords: 'No se encontraron resultados',
                    sEmptyTable: 'Ningún dato disponible en esta tabla',
                    sInfo: 'Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros',
                    sInfoEmpty: 'Mostrando registros del 0 al 0 de un total de 0 registros',
                    sInfoFiltered: '(filtrado de un total de _MAX_ registros)',
                    sSearch: 'Buscar:',
                    sLoadingRecords: 'Cargando...',
                    oPaginate: {
                        sFirst: 'Primero',
                        sLast: 'Último',
                        sNext: 'Siguiente',
                        sPrevious: 'Anterior'
                    },
                    oAria: {
                        sSortAscending: ': Activar para ordenar la columna de manera ascendente',
                        sSortDescending: ': Activar para ordenar la columna de manera descendente'
                    }
                }  
           });
        } );
    </script>
{% endblock %}