{% extends 'base.html.twig' %}

{% block css %}{% endblock %}

{% block content %}
    <div class="white-box">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <form action="historico" method="POST">
                        <div class="card-body">
                            <h2 class="card-title">Historial de pagos</h2>
                        </div>
                        <hr>
                        <div class="content">
                            <div class="table-full-width">
                                <table class="display text-center" id="table2" style="width:100%">
                                    <thead>
                                        <tr>
                                            {% for pagCol in pagCol %}
                                                <th class="text-center">{{ pagCol }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pagp in pagp %}
                                            <tr>
                                                <td>{{ pagp.name }}</td>
                                                <td>{{ pagp.psf_code }}</td>
                                                <td>$ {{ pagp.amount }}</td>
                                                <td>{{ pagp.payment_date|date("d/m/Y") }}</td>
                                                <td>{{ pagp.entity }}</td>
                                            </tr>
                                        {% endfor %}    
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            {% for pagCol in pagCol %} 
                                              <th> {{pagCol}} </th>
                                            {% endfor %}
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
    $(document).ready(function () { // Setup - add a text input to each footer cell
        $('#table2 tfoot th').each(function () {
            var title2 = $(this).text();
            $(this).html('<input type="text" placeholder="Filtrar ' + title2 + '" />');
        });

        // DataTable
        var grid2 = $('#table2').DataTable({
            responsive: true, 
            searching: true,
            scrollX: true,
            language: {
                sProcessing: 'Procesando...',
                sLengthMenu: 'Mostrar _MENU_ registros',
                sZeroRecords: 'No se encontraron resultados',
                sEmptyTable: 'Ningún dato disponible en esta tabla',
                sInfo: 'Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros',
                sInfoEmpty: 'Mostrando registros del 0 al 0 de un total de 0 registros',
                sInfoFiltered: '(filtrado de un total de _MAX_ registros)',
                sSearch: 'Buscar:',
                sLoadingRecords: 'Cargando...',
                oPaginate: {
                    sFirst: 'Primero',
                    sLast: 'Último',
                    sNext: 'Siguiente',
                    sPrevious: 'Anterior'
                },
                oAria: {
                    sSortAscending: ': Activar para ordenar la columna de manera ascendente',
                    sSortDescending: ': Activar para ordenar la columna de manera descendente'
                },
                buttons: {
                    selectAll: 'Seleccionar todos',
                    selectNone: 'Select none'
                },
                select: {
                    rows: '%d filas seleccionadas'
                }
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'collection',
                    text: 'Exportar',
                    buttons: ['copy', 'csv', 'pdf', 'print']
                }
            ],
            order: [
                [1, 'desc']
            ]
        });

        // Apply the search
        grid2.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            });
        });
    }); 
    </script>
{% endblock %}
