{% extends 'base.html.twig' %}

{% block css %}
    <style>
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
        
        #table1 tr > *:nth-child(2) { 
            display: none; 
        } 
    </style>
{% endblock %}

{% block content %}
    <div class="white-box">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <form action="groupvep" method="POST">
                        <div class="card-body">
                            <h2 class="card-title">Veps cargados</h2>
                        </div>
                        <hr> 
                        <br>
                        <div class="form-body-responsive">
                            <div class="table-full-width">
                                <table class="display text-center" id="table1" style="width:100%">
                                    <thead>
                                        <tr>
                                            {% for arrCol in arrCol %}
                                                <th class="text-center">
                                                    {{arrCol}}
                                                </th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for arr in arr %}
                                            <tr>
                                                <td></td>
                                                <td>{{ arr.id }}</td>
                                                <td>{{ arr.customer_reference }}</td>
                                                <td>{{ arr.reference_number }}</td>
                                                <td>$ {{ arr.amount }}</td>
                                                <td>{{ arr.expiration|date("d/m/Y") }}</td>
                                                <td>{{ arr.observations }}</td>
                                                <td>{{ arr.code_pe }}</td>
                                                <td>
                                                    <span class="label label-sm label-danger">
                                                            {{ arr.name }}
                                                    </span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            {% for arrCol in arrCol %}
                                                <th>{{arrCol}}</th>
                                            {% endfor %}
                                        </tr>
                                    </tfoot>
                                    <th id="sum" style="display:none;"> 0 </th>
                                    <th id="anidado" style="display:none;"> </th>
                                </table>

                                <br><hr><br>

                                <table class="display text-center" id="table2" style="width:100%">
                                    <thead>
                                        <tr>
                                            {% for arrCol2 in arrCol2 %}
                                                <th class="text-center">
                                                    {{arrCol2}}
                                                </th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for arr2 in arr2 %}
                                            <tr>
                                                <td></td>
                                                <td>{{ arr2.customer_reference }}</td>
                                                <td>{{ arr2.reference_number }}</td>
                                                <td>$ {{ arr2.amount }}</td>
                                                <td>{{ arr2.expiration|date("d/m/Y") }}</td>
                                                <td>{{ arr2.observations }}</td>
                                                <td>{{ arr2.code_pe }}</td>
                                                <td>
                                                    <span class="label label-sm label-success">
                                                            {{ arr2.name }}
                                                    </span>
                                               </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            {% for arrCol2 in arrCol2 %}
                                                <th>{{arrCol2}}</th>
                                            {% endfor %}
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    <!-- Modal -->
                        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                                        <h1>Mis Veps</h1>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                      <!--  <select class="browser-default custom-select" name="Seleccion">
                                            <option disabled="disabled" selected>Seleccione el tipo de notificacion
                                            </option>
                                            <option value="1">Vep</option>
                                            <option value="2">Reclamo de pago</option>
                                        </select>-->
                                        			<label>¿Esta seguro de continuar?</label>
                                                    <!--
					                    	<div class="textbox">
						                      <br/>
                                             <i class="mdi mdi-account"></i>
                                                 <input type="text" autocomplete="off" id="mailMisV" name="mailMisV" placeholder="Ingrese mail">
                                              </div>-->
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                            <input class="btn btn-primary" type="submit"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
                                        
    <div class="row">
        <div class="col-lg-12">
            <form id="actualidarDatos">
                <div class="modal fade" id="dataUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="modal-title-cpe">Editar:</h4>
                            </div>
                            <div class="modal-body">
                                <div id="datos_ajax"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="customer_reference" class="control-label">Numero de titulo:</label>
                                        <input type="text" class="form-control" id="customer_reference" name="customer_reference" required maxlength="100" readonly>
                                        <input type="hidden" class="form-control" id="id" name="id">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="reference_number" class="control-label">Secuencial:</label>
                                        <input type="text" class="form-control" id="reference_number" name="reference_number" required maxlength="100" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="amount" class="control-label">Importe:</label>
                                        <input type="text" class="form-control" id="amount" name="amount" required readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="expiration" class="control-label">Fecha de vencimiento:</label>
                                        <input type="date" class="form-control" id="expiration" name="expiration" required> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="observations" class="control-label">Observaciones:</label>
                                    <input type="text" class="form-control" id="observations" name="observations" required maxlength="500">
                                    <input type="hidden" class="form-control" id="code_pe" name="code_pe">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Actualizar datos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>                  
{% endblock %}

{% block js %}
    <script>
        var selectedIds = [];
        
        $(document).ready(function () { // Setup - add a text input to each footer cell
            $('#table1 tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Filtrar ' + title + '" />');
            });

            // DataTable
            var grid = $('#table1').DataTable({
                responsive: true, searching: true,
                // scrollX: true,
                language: {
                    sProcessing: 'Procesando...',
                    sLengthMenu: 'Mostrar _MENU_ registros',
                    sZeroRecords: 'No se encontraron resultados',
                    sEmptyTable: 'Ningún dato disponible en esta tabla',
                    sInfo: 'Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros',
                    sInfoEmpty: 'Mostrando registros del 0 al 0 de un total de 0 registros',
                    sInfoFiltered: '(filtrado de un total de _MAX_ registros)',
                    sSearch: 'Buscar:',
                    sLoadingRecords: 'Cargando...',
                    oPaginate: {
                        sFirst: 'Primero',
                        sLast: 'Último',
                        sNext: 'Siguiente',
                        sPrevious: 'Anterior'
                    },
                    oAria: {
                        sSortAscending: ': Activar para ordenar la columna de manera ascendente',
                        sSortDescending: ': Activar para ordenar la columna de manera descendente'
                    },
                    buttons: {
                        selectAll: 'Seleccionar todos',
                        selectNone: 'Select none'
                    },
                    select: {
                        rows: '%d filas seleccionadas'
                    }
                },
                dom: 'Bfrtip',
                buttons: [
                    'selectAll', 'selectNone', {
                        extend: 'collection',
                        text: 'Exportar',
                        buttons: ['copy', 'csv', 'pdf', 'print',
                        ]
                    }, {
                        extend: 'selected',
                        text: 'Crear Vep',
                        action: function (e, node, config) {
                            var fetchCorrect = fetchSelected();
                            if(fetchCorrect){
                                $('#dataUpdate').modal('show');   
                            }
                            // grid.rows( { selected: true } ).data();
                        }
                    }
                ],
                columnDefs: [
                    {
                        orderable: false,
                        className: 'select-checkbox',
                        targets: 0
                    }
                ],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order: [
                    [1, 'desc']
                ]
            });
            
            // Apply the search
            grid.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });
            });
        
            $('#table2 tfoot th').each(function () {
                var title2 = $(this).text();
                $(this).html('<input type="text" placeholder="Filtrar ' + title2 + '" />');
            });

            // DataTable
            var grid2 = $('#table2').DataTable({
                responsive: true, searching: true,
                // scrollX: true,
                language: {
                    sProcessing: 'Procesando...',
                    sLengthMenu: 'Mostrar _MENU_ registros',
                    sZeroRecords: 'No se encontraron resultados',
                    sEmptyTable: 'Ningún dato disponible en esta tabla',
                    sInfo: 'Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros',
                    sInfoEmpty: 'Mostrando registros del 0 al 0 de un total de 0 registros',
                    sInfoFiltered: '(filtrado de un total de _MAX_ registros)',
                    sSearch: 'Buscar:',
                    sLoadingRecords: 'Cargando...',
                    oPaginate: {
                        sFirst: 'Primero',
                        sLast: 'Último',
                        sNext: 'Siguiente',
                        sPrevious: 'Anterior'
                    },
                    oAria: {
                        sSortAscending: ': Activar para ordenar la columna de manera ascendente',
                        sSortDescending: ': Activar para ordenar la columna de manera descendente'
                    },
                    buttons: {
                        selectAll: 'Seleccionar todos',
                        selectNone: 'Select none'
                    },
                    select: {
                        rows: '%d filas seleccionadas'
                    }
                },
                dom: 'Bfrtip',
                buttons: [
                    'selectAll', 'selectNone', {
                        extend: 'collection',
                        text: 'Exportar',
                        buttons: ['copy', 'csv', 'pdf', 'print']
                    }
                ],
                columnDefs: [
                    {
                        orderable: false,
                        className: 'select-checkbox',
                        targets: 0
                    }
                ],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order: [
                    [1, 'desc']
                ]
            });

            // Apply the search
            grid2.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });
            });
        });
        
        function fetchSelected(){
            selectedIds = []; 
            var amount = 0;
            var id = null;
            var customer_reference = null;
            var reference_number = null;
            var expiration = null;
            var observations = null;
            var code_pe = null;
            var firstCustomerReference = null;
            var multipleContracts = false;
            $('.selected').each(function( index ) {
                var button = $(this);
                var sel = button.find(':nth-child(2)').html();
                selectedIds.push(sel);
                id = selectedIds;
                customer_reference = button.find(':nth-child(3)').html() // Extraer la información de atributos de datos
                reference_number = button.find(':nth-child(4)').html() // Extraer la información de atributos de datos
                var currentAmount = parseFloat($(this).find(':nth-child(5)').html().substr(1));
                amount = amount + currentAmount;
                expiration = button.find(':nth-child(6)').html() // Extraer la información de atributos de datos
                observations = button.find(':nth-child(7)').html() // Extraer la información de atributos de datos
                code_pe = button.find(':nth-child(8)').html() // Extraer la información de atributos de datos
                if(firstCustomerReference===null){
                    firstCustomerReference = customer_reference;
                }
                if(customer_reference!==firstCustomerReference){
                    multipleContracts = true;
                }
            });
            if(multipleContracts){
                alert("El CPE debe estar compuesto por deudas pertenecientes a un solo cliente.");
                return false;
            }
            $('.modal-title').text('Agrupar Contrato: '+customer_reference);
            $('.modal-body #customer_reference').val(customer_reference);
            $('.modal-body #id').val(id);
            $('.modal-body #reference_number').val(reference_number);
            $('.modal-body #amount').val(amount);
            $('.modal-body #expiration').val(expiration);
            $('.modal-body #observations').val(observations);
            $('.modal-body #code_pe').val(code_pe);
            return true;
        }
        
        $( "#actualidarDatos" ).submit(function( event ) {
            var parametros = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "groupvep",
                data: parametros,
                 beforeSend: function(objeto){
                        $("#datos_ajax").html("Mensaje: Cargando...");
                  },
                success: function(datos){
                $("#datos_ajax").html(datos);

                load(1);
                }
            });
            event.preventDefault();
        });
    </script>
{% endblock %}
