{% extends 'base.html.twig' %}

{% block css %}{% endblock %}

{% block content %}
    <div class="white-box">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <form action="nuevovep" method="POST">
                        <div class="card-body">
                            <h2 class="card-title">Nuevo Vep</h2>
                        </div>
                        <hr> 
                        <div class="form-body-responsive">
                            <div class="card-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Numero de contrato</label>
                                        <input type="text" name="busqueda" id="busqueda" value="" class="form-control" placeholder="Numero de contrato" autocomplete="off" onKeyUp="buscar();">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-danger">
                                        <label class="control-label">Secuencial</label>
                                        <input type="text" name="referenceNumber" id="referenceNumber" value="" class="form-control form-control-danger" placeholder="Numero de referencia" maxlength="6">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Importe</label>
                                        <input type="text" name="amount" id="amount" value="" class="form-control form-control-danger" placeholder="Importe">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-danger">
                                        <label class="control-label">Fecha de vencimiento</label>
                                        <input type="date" name="expiration" id="expiration" value="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="drop-pago">Observacion</label>
                                    <textarea class="form-control" name="observations" placeholder="Observacion" rows="5"></textarea>
                                </div>
                               
                                <div class="col-md-12">
                                    <br>
                                    <button class="btn waves-effect waves-light btn-rounded btn-info" data-target="#exampleModal" data-toggle="modal" href="#" type="button">
                                        <i class="icon-plus"></i>Postear nuevo vep
                                    </button>
                                    <br> <br> 
                                </div>
                            </div>
                        </div>
                            
                    <!-- Modal -->
                        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                                        <h1>Nuevo Vep</h1>
                                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                    <!--
                                        <div class="textbox">
                                            <i class="mdi mdi-account"></i>
                                            <input type="text" autocomplete="off" id="mail" name="mail" placeholder="Ingrese mail">
                                        </div>
                                        -->
                                        <label>¿Desea postear este vep?</label>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                                            <button name="nuevovep" class="btn btn-primary" type="submit">Confirm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                   <div id="resultadoBusqueda"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form id="actualidarDatos">
                <div class="modal fade" id="dataUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Editar:</h4>
                            </div>
                            <div class="modal-body">
                                <div id="datos_ajax"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="customer_reference" class="control-label">Numero de titulo:</label>
                                        <input type="text" class="form-control" id="customer_reference" name="customer_reference" required maxlength="100" readonly>
                                        <input type="hidden" class="form-control" id="id" name="id">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="reference_number" class="control-label">Secuencial:</label>
                                        <input type="text" class="form-control" id="reference_number" name="reference_number" required maxlength="100" readonly>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="code_pe" class="control-label">CPE:</label>
                                        <input type="text" class="form-control" id="code_pe" name="code_pe" required maxlength="19" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="amount" class="control-label">Importe:</label>
                                        <input type="text" class="form-control" id="amount" name="amount" required readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="expiration" class="control-label">Fecha de vencimiento:</label>
                                        <input type="date" class="form-control" id="expiration" name="expiration" required> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="observations" class="control-label">Observaciones:</label>
                                    <input type="text" class="form-control" id="observations" name="observations" maxlength="500">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Actualizar datos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
    
{% block js %}
    <script>
        function buscar() {
            var textoBusqueda = $("input#busqueda").val();
 
            if (textoBusqueda != "") {
                $.post("grid", {valorBusqueda: textoBusqueda}, function(mensaje) {
                $("#resultadoBusqueda").html(mensaje);
                }); 
            } else { 
                $("#resultadoBusqueda").html('<p></p>');
            };
        };

        $('#dataUpdate').on('show.bs.modal', function (event) {  
            var button = $(event.relatedTarget) // Botón que activó el modal
            var customer_reference = button.data('customer_reference') // Extraer la información de atributos de datos
            var id = button.data('id') // Extraer la información de atributos de datos
            var reference_number = button.data('reference_number') // Extraer la información de atributos de datos
            var amount = button.data('amount') // Extraer la información de atributos de datos
            var expiration = button.data('expiration') // Extraer la información de atributos de datos
            var observations = button.data('observations') // Extraer la información de atributos de datos
            var code_pe = button.data('code_pe') // Extraer la información de atributos de datos

            var modal = $(this)
            modal.find('.modal-title').text('Modificar Vep: '+code_pe)
            modal.find('.modal-body #id').val(id)
            modal.find('.modal-body #customer_reference').val(customer_reference)
            modal.find('.modal-body #reference_number').val(reference_number)
            modal.find('.modal-body #amount').val(amount)
            modal.find('.modal-body #expiration').val(expiration)
            modal.find('.modal-body #observations').val(observations)
            modal.find('.modal-body #code_pe').val(code_pe)
            //$('.alert').hide();//Oculto alert
        });
  
        $( "#actualidarDatos" ).submit(function( event ) {
            var parametros = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "editvep",
                data: parametros,
                 beforeSend: function(objeto){
                        $("#datos_ajax").html("Mensaje: Cargando...");
                  },
                success: function(datos){
                $("#datos_ajax").html(datos);

                load(1);
                }
            });
            event.preventDefault();
        });
    </script>
{% endblock %}

