{% block head %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Index | P.E.I Boton de pagos</title>
		<link rel="shortcut icon" type="image/x-icon" href="./files/img/favicon.ico">
		<link rel="stylesheet" href="./files/css/font-awesome.css">
		<link rel="stylesheet" href="./files/css/site.css">
		<link rel="stylesheet" type="text/css" href="./files/css/style.css">
	</head>
{% endblock %}

	<body>
		<div class="header">
			<img class="logo" src="./images/logobc.png">
			<a href="#" id="close-window"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
		</div>

		<div class="subheader">
			<table>
				<tr>
					<td><img class="producto" src="./files/img/Tarjetas index/id.png" height= 40px></td>
					<td><h4 class="subheadertxt">Metrovich, Natalia G.</h4>
					<h4 class="subheadertxt">35.943.347</h4></td>
				</tr>
			</table>
		</div>
{% block content %}
{% endblock %}
		<footer class="container footer text-center">
		    <div class="col-md-4">
		    	<div class="footercont">
		    	<a href="http://www.tarjetacencosud.com.ar/" target="_blank">
		        <img src="./files/img/poweredby_consultoraargon.png">
		    	</a>
		        </div>
		    </div>
		    <div class="col-md-4">
		    	<div class="footercont">
		    		<a class="link" href="http://www.tarjetacencosud.com.ar/Terminos-y-condiciones/3-725" target="_blank">Términos y condiciones</a>
		    	</div>
		    </div>
			<div class="col-md-4">
				<div class="footercont">
				<a class="link" href="https://www.facebook.com/TarjetaCencosudArgentina" target="_blank">
		          <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
		       	</a>
		        <a class="link" href="https://www.twitter.com/TCencosudArg" target="_blank">
		        	<i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
		    	</a>
		        <a class="link" href="https://www.instagram.com/tarjetacencosudar" target="_blank">
		        	<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
		        </a>
		        </div>
		    </div>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="./files/js/pago.js"></script>
		<script type="text/javascript" src="./files/js/close.js"></script>
	</body>
</html>