{% extends 'base.html.twig' %}

{% block css %}

{% endblock %}

{% block content %}
<div class="white-box">
 <div class="row">
    <div class="col-sm-12">
        <div class="col-md-12">
                <div class="card-header">
                <h3 class="box-title m-b-0">Deudas para pagar</h3>
                <p class= "text-muted m-b-30 font-13">Estas son las deudas que podes elegir pagar por individual como por conjunto, seleccionandolas con el checkbox </p>
                </div>
                <div class="content">
                                <div class="table-full-width">
                                    <table class="display text-center" id="table" style="width:100%">
                                    <thead>
                                        <tr>
                                            {% for arrCol in arrCol %}
                                                <th class="text-center">{{ arrCol }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for arr in arr %}
                                            <tr>
                                                <td></td>
                                                <td>{{ arr.batch_date|date("d/m/Y") }}</td>
                                                <td>{{ arr.batch_number }}</td>
                                                <td>{{ arr.motive }}</td>
                                                <td>{{ arr.reference_number }}</td>
                                                <td>{{ arr.name }}</td>
                                                <td>{{ arr.description }}</td>
                                                <td>$ {{ arr.amount1 }}</td>
                                                <td>{{ arr.expiration_date1|date("d/m/Y") }}</td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                    <tfoot>
            <tr>
                <th colspan="7" style="text-align:right"><label for="drop-pago">Total:</label></th>
                <th id="sum"> 0 </th>
                <th><button name="pagar" type="button" href="#modal" class="btn waves-effect waves-light btn-rounded btn-success" data-toggle="modal" data-target="#exampleModal" title="Pagar deuda" disabled><i class="icon-credit-card"></i> Pagar</button></th>
            </tr>
        </tfoot>
                                </table>
                                </div>
        
    </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seleccione su medio de pago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div>
            <select name="pago" onChange="pagoOnChange(this);" class="form-control" id="drop-pago" placeholder="Forma de pago" required>
                <option>--- Seleccione ---</option>
                <option value="/downloads/doc.pdf">Pagar con efectivo</option>
                <option value= "/pei">Pagar con tarjeta de debito</option>
          </select>
          </div><br>
          <label for="drop-pago" id="label" style="display:none;">Elija una opcion</label> <br><br>
          <div class="row" id="medio" style="display:none;">
            <div class="col-sm-3"><input type="radio" name="gender" value="male"> <img src="{{ asset('images/Logo-Pago-Facil.png') }}" alt="PagoFacil" width="85%"> </div>
            <div class="col-sm-3"><input type="radio" name="gender" value="female"> <img src="{{ asset('images/rapipago.jpg') }}" alt="RapiPago" width="85%"><br> </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button name="aceptar" type="submit" name="submit" class="btn btn-success SubmitButton">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="notification-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Observaciones del vep id: $VepId </h3>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <h6 class="font-medium mb-0">Observaciones del vep en cuestion</h6>
                </div>
            </div>
        </div>
</div>

{% endblock %}

  {% block js %}
      
<script>
      var control = 0;
    $(document).ready(function () {
        // DataTable
        $('#table').DataTable({
            responsive: true, searching: true,
            // scrollX: true,
            language: {
                sProcessing: 'Procesando...',
                sLengthMenu: 'Mostrar _MENU_ registros',
                sZeroRecords: 'No se encontraron resultados',
                sEmptyTable: 'Ningún dato disponible en esta tabla',
                sInfo: 'Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros',
                sInfoEmpty: 'Mostrando registros del 0 al 0 de un total de 0 registros',
                sInfoFiltered: '(filtrado de un total de _MAX_ registros)',
                sSearch: 'Buscar:',
                sLoadingRecords: 'Cargando...',
                oPaginate: {
                    sFirst: 'Primero',
                    sLast: 'Último',
                    sNext: 'Siguiente',
                    sPrevious: 'Anterior'
                },
                oAria: {
                    sSortAscending: ': Activar para ordenar la columna de manera ascendente',
                    sSortDescending: ': Activar para ordenar la columna de manera descendente'
                },
                buttons: {
                    selectAll: 'Seleccionar todos',
                    selectNone: 'Select none'
                },
                select: {
                    rows: '%d filas seleccionadas'
                }
            },
            /*dom: 'Bfrtip',
            buttons: [
                'selectAll', 'selectNone'

            ],*/
            columnDefs: [
                {
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }
            ],
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
            order: [
                [1, 'asc']
            ]

        });

        $('#table tbody').on('click', 'tr', function () {

            $(this).toggleClass('selected');

            if($(this)[0].classList.contains("selected")){
                $('#sum').html(
                parseFloat($('#sum').html()) + 
                parseFloat($(this).find(':nth-child(8)').html().replace(/[$,]/g, "")));
            }else{
                $('#sum').html(
                parseFloat($('#sum').html()) -
                parseFloat($(this).find(':nth-child(8)').html().replace(/[$,]/g, "")));
            }
            
            if ($(this)[0].classList.contains("selected")) control++;
            else control--;
 
            if (control > 0) $("button").prop("disabled", false);
            else $("button").prop("disabled", true);
        });

    });
    $('#drop-pago').on('submit', function (e) {
        e.preventDefault();
        var $form = $(this),
                $select = $form.find('select'),
                links = $select.val();
        if (links.length > 0) {
            for (i in links) {
                link = links[i];
                window.open(link);
            }
        }
    });
    
    function pagoOnChange(sel) {
    if (sel.value=="/downloads/doc.pdf"){
         divC = document.getElementById("medio");
         label = document.getElementById("label");
         label.style.display = "";
         divC.style.display = "";
    
        }else{
            divC = document.getElementById("medio");
            label = document.getElementById("label");
            label.style.display="none";
            divC.style.display="none";
      }
}

$('.SubmitButton').click(function(){ // on submit button click

    var urldata = $('#drop-pago :selected').val(); // get the selected  option value
    window.open(urldata) // open a new window. here you need to change the url according to your wish.
});
</script>
      
  {% endblock %}