{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block content %}
    <div class='white-box'>
        <div class='card-title'>
            <h2>Registro de nuevo usuario</h2>
        </div>
        <hr>
        <div class='card-body'>
            <p>Complete los datos del formulario para poder crear un nuevo usuario.
                <br>
                Recuerde poner el rol adecuado para cada cuenta.
            </p>
            <br>
            <form class='form-body-responsive' action="NewUser" method="post">
                <div class='card-body'>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="username">Nombre de usuario</label>
                            <input type="text" name="username" id="username" value="" class="form-control"
                                   placeholder="Nombre de usuario" autocomplete="off" onkeyup="" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <label class="control-label" for="email">Email</label>
                            <input type="text" name="email" id="email" value="" class="form-control form-control-danger"
                                   placeholder="Email" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="password">Contraseña</label>
                            <input type="password" name="password" id="password" value=""
                                   class="form-control form-control-danger" placeholder="Contraseña"
                                   onchange='check_pass();' required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="rep_password">Repetir contraseña</label>
                            <input type="password" name="rep_password" id="rep_password" value=""
                                   class="form-control form-control-danger" placeholder="Repetir contraseña"
                                   onchange='check_pass();' required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="role">Rol de usuario</label>
                            <select name="role" id="role" class="select">
                                <option selected disabled>Seleccione un rol</option>
                                <option value="ROLE_ADMIN">Administrador general</option>
                                <option value="ROLE_USER">Operador</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn waves-effect waves-light btn-rounded btn-info" type="submit" name="NewUser" id="submit">
                    <i class="icon-plus"></i>
                    Crear nuevo usuario
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        function check_pass() {
            if (document.getElementById('password').value ==
                document.getElementById('rep_password').value) {
                document.getElementById('submit').disabled = false;
            } else {
                document.getElementById('submit').disabled = true;
                document.getElementById('submit').title = "Las contraseñas no coinciden";


            }
        }


    </script>
{% endblock %}
