{% block css %}
{% endblock %}

{% block content %}
    {% if msg is defined %}			
        <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Los datos han sido actualizados satisfactoriamente.</strong>
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error! Lo siento algo ha salido mal intenta nuevamente.</strong>
        </div>    
    {% endif %}

{% endblock %}
{% block js %}

{% endblock %}