{% extends 'base.html.twig' %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Descargar archivo de base de datos generador de cartas</h3>
                <form action="plantCPE" method="POST" enctype="multipart/form-data">
                    <p class="text-muted m-b-30 font-13"> Descargue del siguiente enlace el archivo. <a href="/downloads/plantilla_deudas.xlsx" download="plantilla_deudas.xlsx"><button name='boton1' class="btn waves-effect waves-light btn-rounded btn-success"><i class="mdi mdi-cloud-download"></i> Descargar</button></p></a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function checkForm(){
            var value = $("#sample-input").val();
              $.post("{{ url('ajax-sample') }}", { variable: value })
                .done(function( data ) {
                  alert("Éxito. Servidor recibió: " + data.data);
                });
        }
    </script>
{% endblock %}