{% extends 'base.html.twig' %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Subir archivo de deudas</h3>
                <p class="text-muted m-b-30 font-13"> Descargue del siguiente enlace la plantilla para continuar. <a href="/downloads/plantilla_deudas.xlsx" download="plantilla_deudas.xlsx"><button class="btn waves-effect waves-light btn-rounded btn-success"><i class="mdi mdi-cloud-download"></i> Descargar</button></p></a>
                <form method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Elija el archivo de deudas</label>
                        <input type="file" name="file-xls" class="form-control-file" id="file-xls">
                    </div>
                    <button type="submit" class="btn waves-effect waves-light btn-rounded btn-info">Subir</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
      function checkForm(){
          var value = $("#sample-input").val();
            $.post("{{ url('ajax-sample') }}", { variable: value })
              .done(function( data ) {
                alert("Éxito. Servidor recibió: " + data.data);
              });
      }
    </script>
{% endblock %}