{% extends 'base.html.twig' %}

{% block content %}
    <div class="white-box">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Administracion de usuarios</h2>
                    </div>
                    <br>
                    <div class="form-body-responsive">
                        <div class="content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered no-wrap display text-center" id="" style="width:100%">
                                    <thead>
                                    <tr>
                                        {% for arrCol in arrCol %}
                                            <th class="text-center">{{ arrCol }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for arr in arr %}
                                        <tr>
                                            <td>{{ arr.id }}</td>
                                            <td>{{ arr.username }}</td>
                                            <td>{{ arr.email }}</td>
                                            <td>{{ arr.enabled }}</td>
                                            <td>
                                                <button class="btn waves-effect waves-light btn-rounded btn-danger" name="delete"><i class="icon-trash"></i>
                                                    Borrar
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
