{% extends 'base.html.twig' %}

{% block css %}{% endblock %}

{% block content %}
    <div class="white-box">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <form action="" method="POST">
                        <div class="card-body">
                            <h2 class="card-title">Bienvenido!</h2>
                        </div>
                        <hr>
                        <div class="form-body-responsive">
                            <div class="card-body">
                                <div class="btn-list">
                                    <a href="{{ path("misveps") }}" class="btn waves-effect waves-light btn-rounded btn-success">Entrar a mis veps</a>
                                    <a href="{{ path("nuevovep") }}" class="btn waves-effect waves-light btn-rounded btn-info">Agregar un Vep</a>
                                </div>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}{% endblock %}
