html,body
{
	background-color: #EEEEEE;
	font-family: ITCAvantGardeBook,sans-serif;
}
html
{
  --card-color: #B9B9B9;
  min-height: 100%;
  position: relative;
}
body
{
	margin: 0;
	height: 100%;
}

body .logo{
	width: 300px;
	padding-top: 15px;
	padding-bottom: 15px;	
}
a:link
{
	text-decoration: none;
}
a, a:hover, a:active
{
	text-decoration: none;
	color: #1E376D;
}
label
{
	margin: 0;
	font-weight: normal;
}
*:focus {
    outline: none;
}
input[type=text]
{
	border: none;
	border-bottom: 1px solid #dfdfdf; 
}
input[type=text]:focus
{
    border-bottom: 1px solid #e4002b; 
}
.bluecolor
{
	color: #e4002b;
}
.link:visited,.link
{
	font-size: 14px;
	color: #777;
	text-decoration: none;
}
.link:hover
{
	color: #1E376D;
}
.colgral
{
	padding-left: 7px;
	padding-right: 7px;
}
.containerprincipal
{
	width: 100%;;
	min-width: 320px;
	max-width: 1100px;
	margin:0 auto 62px;
	padding: 7px 0px 0px 0px;
	display:block;
	position: relative;
	height: 100%;
	/*background-color: #e2e2e2;*/
}
.containersec
{
	width: 95%;
	margin:0px auto;
	display:block;
}
.header
{
	padding: 15px;
	background-color: #e4002b;
	padding-top: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-width: 320px;
}
.header i
{
	color: #fff;
}
.logo
{
	margin:0px auto;
	display:inline-block;
	width: 200px;
	max-width: 100%;
	max-height: 100%;
}
.logologin
{
	margin:0px auto;
	display:block;
	max-width: 200px;
}
.subheader
{
	padding: 2px;
	width: 100%;
	min-width: 320px;
}
.subheadertxt
{
	font-family: ITCAvantGardeBook;
	text-align: left;
	font-size: 14px;
	margin: 5px 15px;
}
.producto
{
	max-width: 100%;
	max-height: 100%;
	margin: 5px 0px 5px 10px;
}
.box
{
	background-color: #fff;
	border: 1px solid #E3E3E3;
	margin: 7px 0px;
	padding: 10px;
	border-collapse: separate;
	width: 100%;
	border-radius: 4px;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2); 
}
.boxgral
{
	background-color: #fff;
	border: 1px solid #E3E3E3;
	margin: 7px 7px;
	padding: 10px;
	border-collapse: separate;
	width: 100%;
	border-radius: 4px;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.boxtitle
{
	font-family: ITCAvantGardeDemi;
	border-bottom: 2px solid #e4002b;
	font-size: 16px;
	padding: 5px;
	text-align: center;
	color: #555;
}
.boxcontent
{
	border-bottom: 1px solid #EEEEEE;
	font-size: 14px;
	margin: 10px;
	padding: 5px 10px;
}
.boxcontentfinal
{
	border: none;
	font-size: 14px;
	margin: 10px;
	padding: 5px 10px;
}
.justifycenter
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.titulomdp
{
	font-family: ITCAvantGardeDemi;
	font-size: 16px;
	color: #e4002b;
}
.txtmdp
{
	text-align: left;
}
.linktitle
{
	font-family: ITCAvantGardeDemi;
	font-size: 15px;
	text-align: center;
	color: #777;
	border-bottom: 2px solid #EEEEEE;
}
.linktext
{
	font-size: 14px;
	color: #777;
}
.botonprimario
{
	background-color: #e4002b;
	border-color: #e4002b;
	border-radius: 4px;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
	transition: box-shadow .4s cubic-bezier(0.25, 0.8, 0.25, 1),background-color .4s cubic-bezier(0.25, 0.8, 0.25, 1);
	margin-bottom: 5px;
}
.botonprimario:hover,.botonprimario:focus,.botonprimario:active
{
	background-color: #1E376D;
	border-color: #1E376D;
	border-radius: 4px;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
	transition: box-shadow .4s cubic-bezier(0.25, 0.8, 0.25, 1),background-color .4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.botonsecundario
{
	background-color: #e4002b;
	border-color: #e4002b;
	border-radius: 4px;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
	transition: box-shadow .4s cubic-bezier(0.25, 0.8, 0.25, 1),background-color .4s cubic-bezier(0.25, 0.8, 0.25, 1);
	margin-bottom: 5px;
}
.botonsecundario:hover,.botonsecundario:focus,.botonsecundario:active
{
	background-color: #1E376D;
	border-color: #1E376D;
	border-radius: 4px;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
	transition: box-shadow .4s cubic-bezier(0.25, 0.8, 0.25, 1),background-color .4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.botondescarga
{
	background-color: #e4002b;
	border-color: #e4002b;
	border-radius: 4px;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
	transition: box-shadow .4s cubic-bezier(0.25, 0.8, 0.25, 1),background-color .4s cubic-bezier(0.25, 0.8, 0.25, 1);
	margin: 20px 10px 10px;
	max-width: 250px;
	display: inline-block;
	padding: 3px 51px;
}
.botondescarga:hover,.botondescarga:focus,.botondescarga:active
{
	background-color: #1E376D;
	border-color: #1E376D;
	border-radius: 4px;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
	transition: box-shadow .4s cubic-bezier(0.25, 0.8, 0.25, 1),background-color .4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.contbotones
{
	width: 100%;
	margin: 27px auto; 
}
.center
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
@media screen and (max-width: 991px){
	.titulomdp, .txtmdp{
		text-align: center;
	}
}
.desc
{
	font-size: 13px;
	color:#777;
}
@media screen and (min-width: 991px){
	.desc{
		margin-left: 15px;
	}
}
.footer
{
	background-color: #e2e2e2;
	color: rgb(102, 102, 102);
	width: 100%;
	margin-top: 5px;
	position: absolute;
	bottom: 0px;
	min-width: 320px;
}
@media screen and (max-width: 991px){
	.footer{
		bottom: -100px;
	}
}
.footercont
{
	padding: 10px;
}
.containerinfo
{
	width: 95%;
	display: inline-flex;
	margin-top: 15px;
}
.info
{
	font-size: 13px;
	margin-top: 5px;
	margin-left: 9px;
}
.number
{
	border: 1px solid #a0a0a0;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: block;
	text-align: center;
	line-height: 24px;
	background-color: #a0a0a0;
	color: #fff;
}
.importe
{
	border: none;
    border-bottom: 1px solid #e4002b; 
	width: 50%;
	padding-top: 3%;
	font-size:18px;
	text-align: center;
}
.impbutton
{
	width: 100%;
	height: 50px;
	background-color: transparent;
	border:none;
	border-radius: 4px;
	box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
	margin:5px;
	transition: box-shadow .4s cubic-bezier(0.25, 0.8, 0.25, 1),background-color .4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.impbutton:hover
{
	background-color: #eee;
}
.imptitle
{
	margin: 10px auto;
	color: #e4002b;
}
.complete
{
	margin-top: 10px;
}
.complete input
{
	width: 100%;
	margin-bottom: 5px;
}
.complete label
{
	margin-top: 5px;
	color: #e4002b;
}
.complete select
{
	width: 100%;
	border: none;
	border-bottom: 1px solid #dfdfdf;
	margin: 8px 0;
}
.cardcontainer
{	
	position: relative;
	width: 400px;
	min-width: 100px;
	max-width: 100%;
	height: 230px;
	min-height: 50px;
	max-height: 100%;
	margin: 0 auto;
}
@media screen and (max-width: 414px){
	.cardcontainer{
	height: 185px;
	}
}
.card
{
	width: 100%;
	height: 100%;
	border-radius: 15px;
	box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
	transform-style: preserve-3d;
	transition: all 0.5s ease;
}
.card-front
{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	backface-visibility: hidden;
	background: var(--card-color);
}
.card-back
{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	backface-visibility: hidden;
	background: var(--card-color);
	transform: rotateY(180deg);
}
.cardtable
{
	width: 100%;
	height: 100%;
}
.cardlogo
{
	text-align: right;
	height: 30%;
}
.cardlogo img
{
	width: 15%;
	border: none;
	margin: 0 20px;
}
.cardelements
{
	height: 15%;
}
.vto
{
	padding-right: 20px;
	color: white;
}
.cardnumber
{
	font-size: 18px;
	text-align: center;
	color: white;
}
.cardname
{
	text-transform: uppercase;
	padding-left: 20px;
	font-size: 16px;
	color: white;
}
.magnetic
{
	width: 100%;
	height: 50px;
	background-color: #999999;
	margin: 20px 0;
}
.cardselect
{
	width: 100%;
}
.cardselect input[type=text]
{
	text-align: center;
	background-color: transparent;
}
.cardselect	label
{
	width: 100%;
}
.cardselect	span
{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	border-bottom: 1px solid #EEEEEE;
}
.cardselect	p, i, input
{
	margin: 5px 0;
}
input[type=radio]
{
	display: none;
}
input[type=radio]:checked~span
{
	background-color: #EFEFEF;
}
.uncheck
{
	display: none;
}
.addnewcard
{
	border-bottom: none !important;
	margin-bottom: 10px;
	padding-top: 5px;
}
.logostj
{
	color: #a0a0a0;
}
.ctdesk
{
	font-family: ITCAvantGardeDemi;
	padding-top: 3px;
}
.nrotj
{
	padding-top: 3px;
}
@media screen and (max-width: 767px){
	.ctdesk,.nrotj{
	text-align: right;
	}
}
.contlogo
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 767px){
	.contlogo{
	justify-content: space-between;
	}
}
.lasttitle
{
	font-family: ITCAvantGardeDemi;
	font-size: 16px;
	padding: 5px;
	color: #555;
	border-bottom: 2px solid #cccccc;
}
.lastcontent
{
	border-bottom: 1px solid #EEEEEE;
	display: flex;
	justify-content: space-between;
}
.lastcontent p, .lastcontentfinal p, .lasttitle p
{
	margin-top: 5px;
	margin-bottom: 5px;
}
.lastcontentfinal
{
	display: flex;
	justify-content: space-between;
}
.marginleft
{
	margin-left: 10px;
}
.titleemail
{
	font-family: ITCAvantGardeDemi;
	font-size: 16px;
	padding: 5px;
	color: #555;
}
.email
{
	border: none;
    border-bottom: 1px solid #e4002b; 
	background-color: transparent; 
	width: 100%;
	margin: 0 0 10px;
}
.message
{
	font-family: ITCAvantGardeDemi;
	font-size: 18px;
	padding: 5px;
	text-align: center;
	color: #555;
}
.contenterror
{
	height: 250px;
	padding: 111px 15px;
}
/*****************************************/
/* Login
/*****************************************/
.contentlogin
{
	width: 60%;
	margin: 0 auto;
	padding-top: 70px;
}
.contentlogin input
{
	width: 100%;
	background-color: transparent;
	margin-bottom: 15px;
}
.contentlogin label
{
	color: #e4002b;
}
.botonlogin
{
	width: 60%;
	margin: 0 auto;
	padding: 0 15px 30px;
}
.captcha
{
	margin: 20px auto 25px;
	display: table;
}
table.tableContainerVD
{
	width:100%;
	height:100%;
}

.tableContentVD
{
	background-color:#fff;
	height:100%;
}
.footerlogin
{
	background-color: #e2e2e2;
	color: rgb(102, 102, 102);
	width: 100%;
	bottom: 0px;
	min-width: 320px;
}

	/*****************************************/
	/* content left
	/*****************************************/
	.tableContentLeftVD
	{
		background-image: url('bg-body-clear.jpg');
		background-repeat: repeat-x;
		background-position: left;
		background-size: contain;
		height:100%;
		width:50%;
		/*display:none;*/	
		text-align: center;
		vertical-align: middle;
	}
	.tableContentLeftImageVD
	{
		/*border: solid 1px blue;*/
		text-align: center;
		position: relative;
		background-image: url('back.png');
		background-position: center;
		background-size: unset;
		height: 100%;
		background-repeat: no-repeat;
	}
	.tableContentLeftVD div img
	{
		max-width: 339px;
		text-align: center;
		/*border: solid 1px red;*/
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}	
	

	/*****************************************/
	/* content right
	/*****************************************/	
	.tableContentRigthVD
	{
		width:100%;
		height:100%;
		vertical-align:top;
	}
	
	.contentVD
	{
		display: block;
		height:100%;
	}
	
	.contentHeaderVD
	{
		height:90px;
		background-color: rgba(247, 143, 30, 0.9);
		background-repeat: no-repeat;
		background-position: center;
		position:relative;
	}
	
	.contentHeaderImageVD
	{
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;		
	}
	
/*****************************************/
/* MEDIA
/*****************************************/

@media only screen and (max-width:1199px)
{
	.tableContentLeftVD
	{
		background-image: url('bg-body-clear.jpg');
	}		
	.tableContentLeftVD
	{
		display:display;
	}	
}

@media only screen and (max-width:991px)
{
	.tableContentLeftVD
	{
		background-image: url('bg-body-clear-md.jpg');
	}	
	.tableContentLeftVD
	{
		display:display;
	}
}

@media only screen and (max-width:767px)
{
	.tableContentLeftVD
	{
		background-image: url('bg-body-clear-sm.jpg');
	}	
	.tableContentLeftVD
	{
		display:none;
	}
	.contentlogin
	{
		padding-top: 25px;
	}
}

/*****************************************/
.modaltitle
{
	font-family: ITCAvantGardeDemi,sans-serif;
	color: #e4002b;
}
.modalfoot
{
	padding: 10px;
	text-align: right;
}